@keyframes hover {
  from {background-color: transparent}
  to {background-color: #f8f8f8}
}

@keyframes hoveroff {
  from {background-color: #f8f8f8}
  to {background-color: transparent}
}

.list {
  margin-top: 25px;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 1px;
}
.button {
  align-self: center;
	background-color: transparent;
	border-radius:5px;
	border:1px solid #d8d8d8;
  width: 8rem;
  height: 8rem;
	font-size:17px;
	text-decoration:none;
  cursor: pointer;
  margin-left: 10px;
  animation: hoveroff 0.3s forwards;
  user-select: none; 
}
.button:hover {
  animation: hover 0.3s forwards;
}

.button:focus {outline:0;}

.noshow {
  display: none;
}
.show {
  display: block;
}
