.infoContainer {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.leftOne {
  width: 50%;
  left: 0;
  border-radius: 8px;
}
.rightOne {
  transition: opacity 0.3s ease-in-out;
  font-size: 20px;
  width: 50%;
  float: right;
  height: 100%;
}

.businessName {
  text-align: center;
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 30px;
  opacity: 0.7;
  margin-bottom: 15%;
}

.businessAddress {
  margin-left: 15%;
  opacity: 0.7;
}
.businessAddress2 {
  margin-left: 15%;
  opacity: 0.7;
}
.businessReviews {
  margin-left: 15%;
  opacity: 0.7;
}
.mapEmoji {
  margin-top: 5%;
  margin-left: 15%;
  cursor: pointer;
  user-select: none;
  width: 2%;
}

.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: Gradient 10s ease infinite;
  background-size: 600% 400%;
}

.true {
  opacity: 1;
  color: black;
  transition: color 1s ease-in-out;
  animation-play-state: paused;
  background: white;
  transition: background-color 1s ease-in-out;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.placeholdertext {
  margin-left: 5%;
  display: inline-block;
  vertical-align: center;
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 40px;
  opacity: 0.7;
  text-align: center;
}
