@keyframes hideWindow {
  from {transform: translateY(0%);}
  to {transform: translateY(-300%);}
}

@keyframes showWindow {
  from {transform: translateY(-300%);}
  to {transform: translateY(0%);}
}

.initialwindow {
  opacity: 0;
}

.filter {
  min-height: 100px;
  min-width: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  transition: opacity 1s ease-in-out;
}

.fade {
  background-color: black;
  opacity:0.7;
}

.hidefilter {
  opacity: 0;
  display: none;
}

.container {
  position: absolute;
  width: 55%;
  height: 90%;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.eventWindow {
  color: white;
  background-color: black;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  z-index: 10;
  overflow: hidden;
}

.show {
  opacity: 1;
  animation: showWindow 0.5s ease-in-out forwards;
}

.hidewindow {
  animation: hideWindow 0.5s ease-in-out forwards;
}
